{% extends 'shopapp/base.html' %}

{% block title %}
    Заказы
{% endblock %}

{% block body %}
    <h1>Заказы:</h1>
    <ul>
        {% for order in object_list %}
            <li>
                <p><a href="{% url 'shopapp:order-details' pk=order.pk %}">Заказ #{{ order.id }}</a></p>
                <p>Адрес доставки: {{ order.adress }}</p>
                <p>Промо-код: {{ order.promo }}</p>
                <p>Дата создания: {{ order.created_at }}</p>
                <p>Клиент: {{ order.user }}</p>
                <p>Товары:</p>
                <ul>   
                    {% for product in order.products.all %}
                        <li>
                            <p>{{ product.name }}</p>
                        </li>
                    {% endfor %}
                </ul> 
            </li>
        {% endfor %}
    </ul>

    <div>
        <br>
        <a href="{% url 'shopapp:order-create' %}">Создать заказ</a>
    </div>

{% endblock %}